<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="fragment/head::head"></th:block>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<!--layout/header 파일의 fragment가 header로 설정된 부분과 바꾸겠다는 의미가 됩니다.-->
<th:block th:replace="fragment/header::header"></th:block>
<!--layout:fragment 는 layout을 사용하는 fragment의 내용을 불러오겠다는 의미 입니다. 만약에 없으면 안불러 옵니다-->
<th:block layout:fragment="content"></th:block>
<th:block th:replace="fragment/footer::footer"></th:block>
<th:block layout:fragment="js"></th:block>
<th:block layout:fragment="dglee"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>
