@charset "utf-8";
/* 데스크탑에서 사용될 스타일을 먼저 작성합니다. */

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    /*font-family: 'IBMPlexSansKR-Regular';*/
    /*font-family: 'Spoqa Han Sans Neo';*/
    font-family: 'GmarketSansMedium', serif;
    font-size: 1em;
    line-height: 1.25;
    letter-spacing: -0.4px;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
textarea {
    width:100%;
}

input[type=submit] {
    margin-top: 10px;
    padding: 5px 10px;
    background: black;
    border-radius: 5px;
    color: white;
    font-family: inherit;
}
/* 입력 필수 항목 */
*:required {
    /*background-color: gold;*/
}
/* 텍스트 입력창에 포커스가 왔을때 */
.text-container:focus{
    background: floralwhite;
}
/* 게시판 리스트 */
.table{
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

.table th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

.table-head{
    background: black;
    color: white;
    text-align: left;
}

/* 게시글 페이지 */
.content-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* 내용 작성 부분 */
.content-container h1 {
    border-bottom: 1px solid silver;
}

.context-container{
    border: 1px solid silver;
    padding: 20px 10px;
    border-radius: 8px;
}

/* 등록된 답변 부분 */
.answer-container{
    padding: 20px 10px;
}
.answer-container h2{
    border-bottom: 1px solid silver;
}
.answer{
    display: flex;
    justify-content: space-between;
}
/* 답변 작성 부분 */

@media screen and (max-width: 768px) {
    /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
    body {
        background: #e6e6e6;
    }
}
